.footer-wrapper {
  color: RGB(255, 255, 236);
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(3, 129, 18);
  align-items: baseline;
  padding: 50px 60px 150px 60px;
  /* gap: 280px; */
}

.footer-logo {
  letter-spacing: normal;
  line-height: normal;
  font-size: 20px;
  font-family: "Proxima N W01 Reg", sans-serif;
  cursor: pointer;
  letter-spacing: 1.2px;
  padding: 50px;
}

.footer-headings {
  font-family: "Lora", sans-serif;
  line-height: normal;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-item {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}

.footer-copy {
  text-align: center;
  padding: 15px;
  color: black;
  font-family: "Lora";
  letter-spacing: 0.2px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .footer-wrapper {
    margin: 0;
  }
  .footer-logo {
    padding: 0;
  }
  .footer-container {
    flex-direction: column;
    padding: 50px 30px;
    gap: 25px;
  }
}
