.faq-container {
  display: block;
  margin: 40px auto;
  width: 75%;
}

.faq-wrapper {
  margin-bottom: 25px;
}

.faq-answers {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 150%;
  color: RGB(0, 31, 0);
  background-color: #f1f3f5;
  padding: 10px 15px;
  margin: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.faq-questions {
  font-family: "Lora", sans-serif;
  font-size: 17px;
  line-height: 150%;
  color: RGB(0, 31, 0);
  background-color: #dee2e6;
  padding: 10px 15px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .faq-container {
    width: 95%;
  }
}
